/* use this html and body style to remove whitespace around the screen, and set body to 100% of the view */
html {
    margin: 0;
    padding: 0;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

/* the div that takes up all of the body/parent's available space */
#screen {
    background-color: rgb(250, 250, 250);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* a div item that is supposed to be roughly the same across places. */
.card {
    background-color: rgb(255, 255, 255);
    height: 30%;
    width: 50%;
    min-width: 250px;
    max-width: 350px;
    min-height: 180px;
    max-height: 250px;
    border-radius: 20px;
    padding:20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

/* a css ruleset to apply to our entries. */
.niceinput {
    border: 1px solid rgba(0,0,0,0.24);
    border-left: transparent;
    border-top: transparent;
    border-right: transparent;
    background-color: transparent;
    padding: 5px;
}

/* appllies to the `niceinput` class items when the item is focussed (clicked or tabbed into) */
.niceinput:focus {
    /* border: transparent; */
    outline: 0em;
}

/* applies styles for the placeholder text*/
.niceinput::placeholder {
    color: black;
    opacity: 40%;
}



/* applies to our title text using a class */
.title {
    margin: 0em;
}

/* use for buttons to make visually appealing :) */
.nicebutton{
    background-color: dodgerblue;
    color: whitesmoke;
    border-color: transparent;
    border-radius: 20px;
    max-height: 40px;
    min-height: 20px;
    height: 40px;
    min-width: 180px;
}


.cardshadow {
    -webkit-box-shadow: 3px 2px 5px 3px rgba(255, 255, 255, 0.24);
    -moz-box-shadow: 3px 2px 5px 3px rgba(255, 255, 255, 0.24);
    box-shadow: 3px 2px 5px 3px rgba(255, 254, 254, 0.24);
}

.boxshadow {
    -webkit-box-shadow: 1px 1px 1px 1px rgba(5, 5, 5, 0.24);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.24);
    box-shadow: 1px 1px 1px 1px rgba(3, 3, 3, 0.24);
}

.textshadow {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}